@model IEnumerable<E_cars.Models.Car>

@{
    ViewData["Title"] = "Каталог";
}

<div>
    <main>
        <header class="d-flex align-items-center mb-5">
            <h1>Каталог</h1>
            <div class="input-group w-25 ml-auto">
                <form method="POST" asp-controller="Catalogue" asp-action="Search" class="d-flex align-items-center">
                    <input name="searchString" type="text" class="form-control" placeholder="Търси в каталога" aria-label="Търси в каталога" aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary d-flex align-items-center" type="submit">
                        <i class="bi bi-search mr-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </i>
                        Търси
                    </button>
                </form>
            </div>
            <div class="dropdown ml-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Избери марка
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var brand in ViewBag.brands)
                    {
                        <a class="dropdown-item" asp-controller="Catalogue" asp-action="Brand" asp-route-brand="@brand">@brand</a>
                    }
                </div>
            </div>
            <div class="dropdown ml-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Избери модел
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    @foreach (var carModel in ViewBag.carModels)
                    {
                        <a class="dropdown-item" asp-controller="Catalogue" asp-action="Brand" asp-route-model="@carModel">@carModel</a>
                    }
                </div>
            </div>
        </header>
        <div class="d-flex flex-wrap">
            @foreach (var car in Model)
            {
                <div class="card d-inline-block m-1" style="width: 18rem;">
                    <img class="card-img-top" src="@car.Picture" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Производител: @car.Brand</h5>
                        <p class="card-text">Модел: @car.Model</p>
                        <p class="card-text">Година на производство: @car.Production_Year</p>
                        <p class="card-text">Километраж: @car.Mileage</p>
                        <p class="card-text">Цена: @car.Price лева</p>
                        <div class="btn-group d-flex" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Разгледай</button>
                            <button type="button" class="btn btn-primary">Купи</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </main>
</div>
